#uploadImg{
    width: 70em;
        height: 5em;
        margin-left: 150px;

       
}

#imgdiv{
/*width: 70em;
    height: 31em;*/
    margin-left: 149px;
    margin-right: 139px !important;
}

#imgUpload{
    margin: 10px 56px 20px 56px;
    /* width: 68em;
        height: 28em;*/
   /* width: 25em;*/
   /* height: 0em;*/
    /*margin: 10px 10px 1px 1px;*/
}

#image_before{
    margin-left: 149px;
     margin-right: 139px !important;
     margin-top: 1em;
     padding-top: 10em;
     padding-bottom: 10em;
}

#Algorithm{
    margin-left: 42em;
}
#checkBox{
    margin-left: 36em;
}

#colorInfoDiv{
    height: 13em;
    width: 38em;
    margin-left: 26em;
}
#pic{
    margin-top: 12px;
}

